{% extends 'main/base.html' %}
{% block content %}

<div class="container mx-auto py-10">
    <div class="bg-white shadow-lg rounded-xl p-10 w-full max-w-3xl">
        <div class="mb-6">
            <img src="{{ brand.logo.url }}" alt="{{ brand.name }}" class="w-full h-64 object-cover rounded-lg">
        </div>
        <h1 class="text-3xl font-extrabold text-center mb-4 text-gray-800">{{ brand.name }}</h1>
        <p class="text-gray-700 text-lg">{{ brand.description }}</p>
    </div>
</div>

{% endblock %}
