{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@latest/dist/full.css" rel="stylesheet">
    <title>Mini Haraj</title>
</head>
<body>
    <div class="navbar bg-base-100">
        <div class="flex-none">
            <div class="dropdown">
                <label tabindex="0" class="btn btn-square btn-ghost lg:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                         viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 6h16M4 12h16M4 18h16"/>
                    </svg>
                </label>
                <ul tabindex="0" class="menu dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                    <li><a href="{% url 'views_home' %}">Home</a></li>
</ul>
            </div>
        </div>
        <div class="flex-1">
            <a href="{% url 'views_home' %}" class="btn btn-ghost normal-case text-xl">Mini Haraj</a>
        </div>

        <div class="flex-none gap-2">
            <div class="hidden lg:flex">
                <ul class="menu menu-horizontal p-0">
                    <li><a href="{% url 'views_home' %}">Home</a></li>

                </ul>
            </div>

        </div>
    </div>

    {% if messages %}
    <div class="container mx-auto mt-4">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} shadow-lg">
            <div>
                <span>{{ message }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="container mx-auto mt-4">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
